@model HomeQuest.Models.Property

@{
    ViewData["Title"] = "Properties";
}


<h1 style="text-align: center;">Property Successfully Added.</h1>
<h4 style="text-align: center;">Do want to see all properties?</h4>
<a style="text-align: center;" href="./Index">All properties</a>
