@model HomeQuest.Models.Property

@{
    ViewData["Title"] = "Properties";
}


<h1 style="text-align: center;">Property Successfully Updated.</h1>
<h4 style="text-align: center;">Do want to see the rest of properties?</h4>
<a style="text-align: center;"href="./Detail">See your changes</a>
