@model List<HomeQuest.Models.Image> // a list of image model entities to display or create

@{
    ViewData["Title"] = "imageUploadDownload";
}


<div class="breadcrumb-section another-breadcrumb-section wf-section">
    <div class="container w-container">
        <div class="breadcrumb-wrapper another-breadcrumb-section">
            <div class="breadcrumb-content another-breadcrumb-section">
                <h1 class="breadcrumb-main-heading another-breadcrumb-section">
                    <span class="breadcrumb-span-text another-breadcrumb-section">Edit Property Images</span>
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="add-properties wf-section">
    <div class="container w-container">
        <div class="add-properties-wrapper">
            <div class="properties-image-gallery">
                <h3 class="properties-facilites-heading">Property Gallery <span class="section-color-shape">.</span>
                </h3>
                <div class="gallery-list-wrapper w-dyn-list">
                    <div role="list" class="gallery-list w-dyn-items w-row mb-3">
                        @if (ViewBag.urlList != null)
                        {
                            @foreach (var url in ViewBag.urlList)
                            {
                                <div role="listitem" class="gallery-item w-dyn-item w-dyn-repeater-item w-col w-col-4">
                                    <a href="#" class="gallery-link w-inline-block w-lightbox">
                                        <img alt="" loading="lazy" src="@url" class="gallery-mage" />
                                    </a>
                                    <div class="gallery-link w-inline-block w-lightbox">
                                        <p class="text-break">URL:@url</p>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <form asp-controller="Image" asp-action="SetAsPrimary" method="post"
                                    enctype="multipart/form-data">
                                            <input type="text" name="SetAsPrimary" value=@url hidden></input>
                                            <button class="btn btn-link p-0" type="submit">Set As Primary</button>
                                        </form>

                                        <form asp-controller="Image" asp-action="DeleteImage" method="Post"
                                    enctype="multipart/form-data">
                                            <input type="text" name="urlToDelete" value=@url hidden></input>
                                            <button type="submit" class="btn btn-link text-danger p-0">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div role="list" class="gallery-list w-dyn-items w-row">
                        <h3 class="properties-facilites-heading">Add Images<span class="section-color-shape">.</span>
                        </h3>
                        <div class="input-box">
                            <form asp-controller="Image" asp-action="UploadFiles" method="Post"
                                enctype="multipart/form-data" class="d-flex justify-content-center">
                                <div class="mb-3" style="width:80%">
                                    <input class="form-control" type="file" id="formFile">
                                    <input type="text" name="propertyId" value=@ViewBag.currentPropertyId
                                        hidden></input>
                                </div>
                                <button type="submit" class="button mx-3">Upload Images</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
