@{
    ViewData["Title"] = "Contact";
}

<div class="breadcrumb-section another-breadcrumb-section wf-section">
    <div class="container w-container">
        <div class="breadcrumb-wrapper another-breadcrumb-section">
            <div class="breadcrumb-content another-breadcrumb-section">
                <div class="breadcrumb-sub-heading another-breadcrumb-section">Contact Us <br />
                </div>
                <h1 class="breadcrumb-main-heading another-breadcrumb-section">Contact Information</h1>
                <p class="breadcrumb-details-content another-details-content">Huge number of propreties availabe here
                    for buy and sell, also you can find here co-living property</p>
            </div>
        </div>
    </div>
</div>
<div class="blank-space-section wf-section"></div>
<div class="contact-us-section wf-section">
    <div class="container w-container">
        <div class="section-title title-center">
            <div class="subtitle">Our Contact Info</div>
            <div class="title-block title-block-center">
                <h2 class="title">Get In Touch <span class="section-color-shape">.</span>
                </h2>
            </div>
            <p class="section-summary">Huge number of propreties availabe here for buy, sell and Rent. Also you find
                here co-living property, lots opportunity.</p>
        </div>
        <div class="contact-wrapper">
            <div class="contact-inner">
                <div class="single-contact">
                    <div class="contact-icon">
                        <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/623ada509c08786d2e74b906_map.png"
                            loading="lazy" width="40" height="55" alt="Icon Image" class="contact-icon-image" />
                    </div>
                    <div class="contact-content">
                        <h3 class="contact-title">Address <span class="section-color-shape">.</span>
                        </h3>
                        <p class="contact-address">1110 Road Street, Montreal, QC</p>
                    </div>
                </div>
            </div>
            <div class="contact-inner">
                <div class="single-contact">
                    <div class="contact-icon">
                        <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/623ada508480f659a01568c7_phone.png"
                            loading="lazy" width="46" height="46" alt="Icon Image" class="contact-icon-image" />
                    </div>
                    <div class="contact-content">
                        <h3 class="contact-title">Call us <span class="section-color-shape">.</span>
                        </h3>
                        <p class="contact-address">514-000-1234</p>
                    </div>
                </div>
            </div>
            <div class="contact-inner">
                <div class="single-contact">
                    <div class="contact-icon">
                        <img src="https://assets.website-files.com/6224513e7396e88bd7269d7b/623ada50d750585b13385dc4_mail.png"
                            loading="lazy" width="46" height="52" alt="Icon Image" class="contact-icon-image" />
                    </div>
                    <div class="contact-content">
                        <h3 class="contact-title">Email us <span class="section-color-shape">.</span>
                        </h3>
                        <a href="/cdn-cgi/l/email-protection#321253565f5b5c72574a535f425e57411c515d5f"
                            class="contact-mail">
                            <span class="__cf_email__"
                                data-cfemail="1776737a7e7957726f767a677b72643974787a">info@homequest.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blank-space-section wf-section"></div>
@* <div class="send-message-section wf-section">
    <div class="container w-container">
        <div class="send-message-wrapper">
            <h3 class="message-title">Send Message</h3>
            <p class="message-details">Huge number of propreties availabe here for buy, sell and Rent. Also you find
                here co-living property, lots opportunity</p>
        </div>
        <div class="contact-form-wrapper">
            <div class="contact-form">
                <div class="w-form">
                    <form asp-controller="Home" asp-action="Contact" method="post" class="agency-form">
                        <input type="text" class="form-field width-half contact-form w-input" maxlength="256"
                            name="First-Name" data-name="First Name" placeholder="First Name" id="First-Name" />
                        <input type="text" class="form-field width-half contact-form w-input" maxlength="256"
                            name="email" data-name="Email" placeholder="Last Name" id="email" required="" />
                        <input type="tel" class="form-field width-half contact-form w-input" maxlength="256"
                            name="Phone" data-name="Phone" placeholder="Phone Number" id="Phone" required="" />
                        <input type="email" class="form-field width-half contact-form w-input" maxlength="256"
                            name="Email" data-name="Email" placeholder="Email Address" id="Email-3" required="" />
                        <textarea placeholder="Example Text" maxlength="5000" id="field" name="field" data-name="field"
                            class="form-field form-textarea contact-form w-input"></textarea>
                        <input type="submit" value="Contact Us" data-wait="Please wait..."
                            class="button agency-creat-button w-button" />
                    </form>
                </div>
            </div>
            <div class="map-wrapper">
                <div class="w-richtext">
                    <figure style="padding-bottom:75%" class="w-richtext-align-fullwidth w-richtext-figure-type-video">
                        <div>
                            <iframe allowfullscreen="true" frameborder="0" scrolling="no"
                                src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.google.com%2Fmaps%2Fembed%2Fv1%2Fplace%3Fcenter%3D40.7178143%252C-74.0781629%26key%3DAIzaSyD9HrlRuI1Ani0-MTZ7pvzxwxi4pgW0BCY%26zoom%3D13%26q%3DNew%2BYork%2C%2BNY%2C%2BUSA&amp;display_name=Google+Maps&amp;url=https%3A%2F%2Fwww.google.com%2Fmaps%2Fplace%2FNew%2BYork%2C%2BNY%2C%2BUSA%2F%4040.7178143%2C-74.0781629%2C13z%2Fdata%3D%214m5%213m4%211s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62%218m2%213d40.7127766%214d-74.0059769%3Fshorturl%3D1&amp;image=http%3A%2F%2Fmaps-api-ssl.google.com%2Fmaps%2Fapi%2Fstaticmap%3Fcenter%3D40.7178143%2C-74.0781629%26zoom%3D15%26size%3D250x250%26sensor%3Dfalse&amp;key=96f1f04c5f4143bcb0f2e68c87d65feb&amp;type=text%2Fhtml&amp;schema=google"
                                title="Montreal, QC"></iframe>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div> *@