@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="col-lg-4 col-md-4 col-sm-4 container justify-content-center">
  <div class="col">
    <h1>Access to this page is restricted</h1>
    <p>Please check with the site admin if you believe this is a mistake.</p>
  </div>
</div>
