@{
    ViewData["Title"] = "Subscription";
}

<div class="breadcrumb-section another-breadcrumb-section wf-section">
    <div class="container w-container">
        <div class="breadcrumb-wrapper another-breadcrumb-section">
            <div class="breadcrumb-content another-breadcrumb-section">
                <h1 class="breadcrumb-main-heading another-breadcrumb-section">
                    <span class="breadcrumb-span-text another-breadcrumb-section">Subscription</span>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="properties-filter-section wf-section">
    <div class="container w-container"></div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h3 class="mb-3">Pricing to make your Work Effective</h3>
            <h6 class="subtitle font-weight-normal"> Want to get more clients through our website? Pay a monthly/yearly
                subscription fee!</h6>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card card-shadow border-0 mb-4 bg-success bg-opacity-10">
                <div class="card-body p-4 ">
                    <div class="d-flex align-items-center">
                        <h5 class="font-weight-medium mb-0">Basic Plan</h5>
                        <div class="ml-auto"><span class="badge badge-danger font-weight-normal p-2">Popular</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 text-center">
                            <div class="price-box my-3">
                                <sup>$</sup><span class="text-dark display-5">36</span>
                                <h6 class="font-weight-light">MONTHLY</h6>
                                <a class="btn btn-success bg-gradient font-14 border-0 text-white p-3 btn-block mt-3"
                                    href="#">CHOOSE PLAN </a>
                            </div>
                        </div>
                        <div class="col-lg-7 align-self-center">
                            <ul class="list-inline pl-3 font-14 font-weight-medium text-dark">
                                <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>6 Days a Week </span>
                                </li>
                                <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Dedicated
                                        Trainer</span></li>
                                <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Diet Plan Included
                                    </span></li>
                                <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Morning and Evening
                                        Batches</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-shadow border-0 mb-4 bg-success bg-opacity-10">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center">
                        <h5 class="font-medium m-b-0">Advanced Plan</h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 text-center">
                            <div class="price-box my-3">
                                <sup>$</sup><span class="text-dark display-5">368</span>
                                <h6 class="font-weight-light">YEARLY</h6>
                                <a class="btn btn-success bg-gradient border-0 font-14 text-white p-3 btn-block mt-3"
                                    href="#">CHOOSE PLAN </a>
                            </div>
                        </div>
                        <div class="col-lg-7 align-self-center">
                            <ul class="list-inline pl-3 font-14 font-weight-medium text-dark">
                                <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>6 Days a Week </span>
                                </li>
                                <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Dedicated
                                        Trainer</span></li>
                                <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Diet Plan Included
                                    </span></li>
                                <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Morning and Evening
                                        Batches</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>